<div class="table-responsive">
    <table class="table table-bordered table-hover align-middle mb-0">
        <thead class="table-light">
            <tr>
                <th>Sr No</th>
                @for (item of columnList; track $index) {
                      <th>{{item}}</th>
                } 
                <th width="150">Action</th>
            </tr>
        </thead>
        <tbody>
            @for (item of gridData; track $index) {
            <tr>
                <td>{{$index+1}}</td>

                @for (column of columnList; track $index) {

                     <td> {{item[column]}}</td>

                } 
                <td>
                    <button class="btn btn-sm btn-success" (click)="onEditRecord(item)">Edit</button>
                    <button class="btn btn-sm btn-danger mx-2" (click)="onDeleteRecord(item)">Delete</button>
                </td>
            </tr>
            } 
        </tbody>
    </table>
</div>